.container {
  border-top: 1px solid #ccc;
  align-items: center;
  font-family: montserratbold, Arial;
  padding: 10px 0 10px;
  margin: 0 auto;
  width: auto;
  max-width: 1500px;
  font-weight: bold;
}

.helpful {
  flex: 0 auto;
  width: 250px;
}

.thumb {
  flex: 0 auto;
  width: 100px;
  text-align: center;
  padding-right: 10px;
}

.flag a {
  flex: 1;
  color: red;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin: 15px 0 15px;
  align-items: center;
}

.review-flag {
  color: red;
  border: 1px solid black;
}

.hi {
  color: purple;
}
/*

import React from 'react';
import styled from 'styled-components';
import moment from 'moment';

const Section = styled.div`
  border-top: 1px solid #ccc;
  item-align: center;
  font-family: montserratbold, Arial;
  padding: 10px 0 10px;
  margin: 0 auto;
  width: auto;
  max-width: 1500px;
  font-weight: bold;
`;

const Comment = styled.div`
  flex: 1;
  margin-right: 50px;
  font-weight: 200;
`;

const CommentOwner = styled.div`
  flex: 0 auto;
  width: 300px;
  font-size: 0.8em;
`;

const Wrapper = styled.div`
  display: flex;
  flex-flow: row nowrap;
  margin: 15px 0 15px;
  align-items: center;
`;

const Time = styled.span`
  font-weight: 200;
`;

const Helpful = styled.div`
  flex: 0 auto;
  width: 250px;
`;

const Thumbs = styled.div`
  flex: 0 auto;
  width: 100px;
  text-align: center;
  padding-right: 10px;
`;

const Button = styled.button`
  flex: 0;
  cursor: pointer;
  padding: 15px;
  color: grey;
  background-color: transparent;
  font-weight: bold;
  border: 1px solid #ccc;
  &:hover {
    color: red;
  }
`;

const Flag = styled.div`
  flex: 1;
  color: red;
`;

const ReviewListEntry = (props) => {
  var { review } = props;
  var time = moment(review.timestamp).fromNow();

  return (
    <Section>

      <header>
        5 {review.title}
      </header>

      <Wrapper>
        <Comment>
          <p>{review.comment}</p>
        </Comment>
        <CommentOwner>
          <p>
            Submitted <Time>{time}</Time> <br></br>
            By {review.name} <br></br>
            From {review.location}
          </p>
        </CommentOwner>
      </Wrapper>

      <Wrapper>
        <Helpful>
          Was this review helpful to you?
        </Helpful>
        <Thumbs>
          <Button>{review.like}</Button>
          <Button>{review.dislike}</Button>
        </Thumbs>
        <Flag>
          <a href=''>Flag this review</a>
        </Flag>
      </Wrapper>


    </Section>
  );
};






*/